/* .figure-content
  background: #000
  overflow: hidden
  
figcaption
  margin-top: 16px
  position: absolute
  
  a
    color: #EEE
    text-decoration: none
    line-height: 36px
  
  svg
    margin-right: 8px
    float: left


// Page layout 📰

body
  height: 100vh
  background-color: #111
  // font-family: 'Roboto', sans-serif
  overflow: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  
.figure-content
  width: 600px
  height: 350px
  border: 1px solid #222
  border-radius: 2px
  overflow: hidden
  user-select: none
  cursor: default */