// graphics.scss
:host {
  display: block;
  width: 100%;
  height: 100vh;
}

.container-graphics {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.esquerda {
  flex: 6;
  // background-color: rgb(240, 132, 132);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.direita {
  flex: 7;
  background-color: rgb(200, 200, 247);
  padding: 5rem;
}
