<div class="footer">
  <a href="https://github.com/lmmentel/mendeleev" target="_blank">
    <img class="logo" src="assets/mendeleev.png" />
  </a>

  <a href="https://www.astropy.org" target="_blank">
    <img class="logo" src="assets/astropy_project_logo.svg" />
  </a>

  <a href="https://fastapi.tiangolo.com" target="_blank">
    <img class="logo" src="assets/logo-teal.png" />
  </a>

  <a href="https://angular.dev" target="_blank">
    <img class="logo" src="assets/Angular_gradient_logo.png" />
  </a>

  <a href="https://python.org" target="_blank">
    <img class="logo" src="assets/Python-logo.png" />
  </a>

  <a href="https://github.com/willc127/periodic-orbitals" class="footer-text"
    >Made by William Cesar</a
  >
</div>
