@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

header {
  align-items: center;
  background: #031030;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  padding: 0 5rem;
  width: 100%;
}

.logo-title{
  display: flex;
  align-items: center;
  gap: 16px;
}

h1 {
  color: #ededed;
  font-family: "Rubik Mono One", monospace;
  font-style: normal;
  font-weight: 400;
}

form {
  height: 100%;
}

form > mat-form-field {
  width: 200px;
  height: 100%;


  mat-label {
    color: #031030;
    font-weight: bold;
  }
  .mdc-text-field {
    border-radius: 10px;
    background: #A1C2E8 !important;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
  
  .mat-mdc-form-field-bottom-align {
    display: none;
    height: 0;
  } 
}
