@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

header {
  align-items: center;
  background: #031030;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  padding: 0 5rem;
  width: 100%;
}

h1 {
  color: #ededed;
  font-family: "Rubik Mono One", monospace;
  font-style: normal;
  font-weight: 400;
}

.logo {
  height: 100%;
  padding: 0.5rem;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}