.periodic-table {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(18, 5.75rem);
  grid-template-rows: repeat(9, 5.75rem);
  justify-content: center;
  padding: 2rem;
}

@mixin efeito-transicao {
  transition:
    filter 0.15s ease,
    transform 0.15s ease;

  &:hover {
    border: 2px solid #ffffff;
    filter: brightness(1.25) saturate(1.1);
    transform: scale(1.05);
  }
}

.element {
  border: 1px solid #000000;
  border-radius: 15%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
  justify-content: center;
  text-align: center;
  @include efeito-transicao;

  .name {
    font-size: 0.775rem;
    color: inherit;
    padding: 5px;
  }
}

/* Classes para cada tipo de elemento */
.Hydrogen {
  background: #a8d8ea;
  color: #2d4a54;
}

.Noble-Gas {
  background: #ff00aa;
  color: #fff0f9;
}

.Alkali-Metal {
  background: #ff6b35;
  color: #09090f;
}

.Alkaline-Earth-Metal {
  background: #f4a900;
  color: #09090f;
}

.Transition-Metal {
  background: #354782;
  color: #88bff2;
}

.Metalloid {
  background: #1d584f;
  color: #88e6d1;
}

.Nonmetal {
  background: #6c6a27;
  color: #f2e474;
}

.Poor-Metal {
  background: #3aafa9;
  color: #0e3731;
}

.Halogen {
  background: #553179;
  color: #cc92f2;
}

.Lanthanide {
  background: #84562b;
  color: #f2b57a;
}

.Actinide {
  background: #8ef876;
  color: #09090f;
}
