@if (loading()) {
  <div class="loading-periodic-table">
    <l-grid size="150" speed="1" color="#7db0e4"></l-grid>
    Carregando dados...
  </div>
} @else {
  <div class="periodic-table">
    <app-selectors></app-selectors>

    @for (elem of elements; track elem) {
      @if (elem.numeroAtomico != null) {
        <div
          class="element"
          [style.gridColumn]="elem.grupo"
          [style.gridRow]="elem.periodo"
          [ngClass]="elem.tipo"
          (click)="abrirModal(elem)"
        >
        <strong>
          {{ elem.simbolo }}
          @switch (obterEstadoFisico(elem)) {
            @case ('solido') {
              <ng-icon name="gameRock" size="1em" />
            }
            @case ('liquido') {
              <ng-icon name="gameDrop" size="1em" />
            }
            @case ('gasoso') {
              <ng-icon name="gameSteam" size="1em" />
            }
            @case ('desconhecido') {
              ?
            }
          }
        </strong>

          <small class="name">{{ elem.nome }}</small>
          <small class="atomicNumber">{{ elem.numeroAtomico }}</small>
        </div>
      } @else {
        <div
          class="element"
          [style.gridColumn]="elem.grupo"
          [style.gridRow]="elem.periodo"
          [ngClass]="elem.tipo"
        >
          <strong>{{ elem.simbolo }}</strong>
          <small class="name">{{ elem.nome }}</small>
          <small class="atomicNumber">{{ elem.numeroAtomico }}</small>
        </div>
      }
    }
  </div>
}
