.modal_container {
  display: flex;
  flex-direction: column;
  background: #161622;
  border: 5px solid #252538;
  border-radius: 30px !important;
  color: #ededed;
  height: 100%;
  padding: 30px;
  width: 100%;
}

.header_modal {
  align-items: center;
  color: #ededed;
  display: flex;
  justify-content: space-between;
  font-size: larger;
  margin-bottom: 32px;
  margin-top: 32px;
}

.link {
  color: inherit;
  display: inline-flex;
  width: fit-content;
  text-decoration: none;
}

.espectro__titulo {
  margin-top: 16px;
}
