<div class="modal_container">
  <button
    mat-icon-button
    mat-dialog-close
    class="close-button"
    aria-label="Fechar"
  >
    <mat-icon>close</mat-icon>
  </button>
  <div class="header_modal">
    <a class="link" href="{{ data.link }}" target="_blank">
      <h1>{{ data.nome }}</h1>
    </a>
    <app-button-toggle-modal
      (checkedChange)="onViewChange($event)"
    ></app-button-toggle-modal>
  </div>

  @if (selectedView() === "descricao") {
    <app-description></app-description>
  }

  @if (selectedView() === "propriedades") {
    <app-properties-elements></app-properties-elements>
  }

  @if (selectedView() === "diagrama-config-eletronica") {
    <app-diagrama-configuracao-eletronica
      [numeroAtomico]="data.numeroAtomico"
    ></app-diagrama-configuracao-eletronica>
  }

  @if (selectedView() === "orbitais") {
    <app-quantum-orbital-viewer [element]="data"></app-quantum-orbital-viewer>
  }

  @if (selectedView() === "espectro") {
    <app-emission-spectrum [symbol]="data.simbolo"> </app-emission-spectrum>
  }
</div>
