:host {
  display: contents;
}

.selectors__esquerda {
  grid-column: 4 / span 2;
  grid-row: 2;
  padding: 0;
  color: #fff;
  display: grid;
  gap: 12px;
}
.selectors__direita {
  grid-column: 6 / span 4;
  grid-row: 2;
  padding: 0;
  color: #fff;
  display: grid;
  gap: 12px;
}

p {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
}
